.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

nav {
  display: flex;
  list-style-type: none;
  background-color: dimgray;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  color: white;
}

.Link {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

#footer {
  width: 100%;
  background-color: dimgray;
  padding-bottom: 16px;
}
