.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

nav {
  display: flex;
  list-style-type: none;
  background-color: dimgray;
  padding: 0;
}

nav ul {
  display: flex;
  margin: 0;
}

nav ul li {
  list-style: none;
  color: white;
  display: block;
  padding: 32px 16px 32px;
  transition: all 0.5s 0s ease;

  @media (max-width: 600px) {
    font-size: 12px;
    padding: 20px 10px 20px;
  }
}

nav ul li:hover {
  list-style: none;
  color: white;
  display: block;
  background-color: rgb(174, 174, 174);
  padding: 30px 14px 30px;
  margin: 2px;

  @media (max-width: 600px) {
    font-size: 12px;
    padding: 18px 8px 18px;
  }
}

.Link {
  display: block;
  text-decoration: none;
  color: white;
}

#footer {
  width: 100%;
  background-color: dimgray;
  ul {list-style-type: none;}
  padding: 16px 0 16px;
  
  @media (max-width: 600px) {
    li {font-size: 12px;}
  }
}

#footer h3 {
  margin: 16px 16px 0;
}

.CenterDesign {
  text-align: center;
  margin: auto;
}

#Base-and-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#Base-and-img img {
  width: auto;
  height: 200px;
  
  margin: auto 30px;
  object-fit: contain;

  @media (max-width: 600px) {
    height: 150px;
    margin: auto 10px;
  }
}

#BaseInfo {
  margin-left: 30px;

  @media (max-width: 600px) {
    margin-left: 10px;
  }
}

#BaseInfo p {
  display: flex;
  align-items: baseline; 
}

#BaseInfo p span:first-child {
  width: 80px; 
  text-align: left;
  margin-right: 10px;

  @media (max-width: 600px) {
    width: 40px;
    margin-right: 10px;
  }
}