.container {
  z-index: 1;
  position: relative;

  min-height: calc(100vh - 88px);

  @media screen and (max-width: 600px) {
    min-height: calc(100vh - 58px);
  }
}

.pc {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.tablet {
  @media screen and ((max-width: 600px) or (min-width:1000px)) {
    display: none;
  }
}

.phone {
  @media screen and (min-width: 600px) {
    display: none;
  }
}
#Home {
  display: flex;
}

.wrapper {
  position: relative;
}

#Title-wrapper {
  text-align: center;

  position: absolute;
  top: 88px;

  height: calc(100vh - 88px);
  width: 100%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(10, 10, 10, 0.2);

  @media (max-width: 600px) {
    top: 58px;
    height: calc(100vh - 58px);
  }
}
#blueprint-container {
  z-index: 1;
}

#blueprint1 {
  position: absolute;
  top: 88px;
  right: 0;
  padding: 0 2.5vw;
  margin-right: 5.0vw;

  height: calc((100vh - 88px) / 2);
  width: auto;
  opacity: 0;
  z-index: -1;

  @media screen and (max-width: 600px) {
    top: 58px;
    width: 0;
    height: auto;

    margin: 0;
    padding: 0;
  }
}

#blueprint2 {
  position: absolute;
  top: calc((100vh - 88px) / 2 + 88px);
  right: 0;
  padding: 0 2.5vw;
  margin-right: 5.0vw;
  

  height: calc((100vh - 88px) / 2);
  width: auto;
  opacity: 0;
  z-index: -1;

  @media screen and (max-width: 600px) {
    top: calc((100vw - 58px) / 2 + 58px);
    width: 0;
    height: auto;
    
    margin: 0;
    padding: 0;
  }
}

#JellyfishPatternInfo {
  margin: 0 5vw;
  position: absolute;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    z-index: 0;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

#JellyfishInfo {
  position: absolute;
  bottom: 0;
  opacity: 0;
  margin: 0 5vw;

}

@media screen and (min-width: 600px) {
  #Title-wrapper:hover ~ .blueprint {
    animation: fadeIn 1s linear;
    animation-fill-mode: forwards;
    background-color: rgba(37, 37, 72, 0.658);
  }

  #Title-wrapper:hover h1{
    opacity: 0;
    transition: all 1.0s 0s ease;
  }

  #Title-wrapper:hover p{
    opacity: 0;
    transition: all 1.0s 0s ease;
  }

  #Title-wrapper:hover ~ #JellyfishPatternInfo{
    animation: fadeIn 1s linear;
    animation-fill-mode: forwards;
  } 

  #Title-wrapper:hover ~ #JellyfishInfo {
    animation: fadeIn 1s linear;
    animation-fill-mode: forwards;
  }
}

#JellyfishApp-container #JellyfishApp {
  position: absolute;
  top: 88px;

  height: calc(100vh - 88px);
  width: 100%;

  @media (max-width: 600px) {
    top: 58px;
    height: calc(100vh - 58px);
  }
}

.JellyfishApp-background {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
}

.JellyfishApp-background #JellyfishApp {
  position: block;

  opacity: 0.2;

  height: 100%;
  width: 100%;
}


.CenterDesign {
  text-align: center;
}

.left-title {
  margin-left: 1%;
}

.left-title2 {
  padding-top: 5vh;
  margin-left: 6vw;
}

.first-flex-wrapper {
   border-bottom: 1px dashed rgb(174, 174, 174);
   padding: 5vh 0 10vh 0;
   margin: 0 3vw;
}


.flex-wrapper {
   border-bottom: 1px dashed rgb(174, 174, 174);
   padding: 10vh 0;
   margin: 0 3vw;
}

.flexbox-list-wrapper {
   margin: 0 3vw;
   padding: 0 0 10vh;
}

.last-flex-wrapper {
   border-bottom: none;
   padding: 10vh 0;
   margin: 0 3vw;
}

.flexbox{
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: 600px) {
    flex-direction: column;
    
  }
}

.flexbox-list {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
  
}


.flexbox-container {
  width: 23%;
  margin: 1%;
  border-radius: 2%;
  background-color: rgba(104, 104, 104, 0.5);

  @media screen and (max-width: 600px) {
    width: 47%;
    margin: 1.5%
  }
}

.flexbox-container2 {
  width: 23vw;
  height: 23vw;
  margin: 1vw;
  background-color: rgba(104, 104, 104, 0.5);

  @media screen and (max-width: 600px) {
    width: 47vw;
    height: 47vw;
    margin: 1.5vw;
  }
}

.flexbox-container-image {
  width: 30%;
  height : auto;

  margin: 2.5vw 35%;
}

.flexbox-container-image2 {
  width: 80%;
  height : auto;

  margin: 2.5vw 10%;
}

.flexbox-container-image3 {
  position: absolute;

  height : 23vw;
  width: 23vw;

  object-fit: cover;

  @media screen and (max-width: 600px) {
    height : 47vw;
    width: 47vw;
  }
}

.flexbox-container-info {
  width: 80%;
  margin: 0 10% 2.5vw;

  a {color: rgb(134, 134, 134);}
  a:hover {color: rgb(184, 184, 184)}

  h2 {
    font-size: 1.5rem;
    @media screen and (max-width: 360px) { 
    font-size: 1.0rem;
    }
  }
}

.flexbox-container-info2 {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(26, 29, 29, 0.432);
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s 0s ease;

  a {color: rgb(134, 134, 134);}
  a:hover {color: rgb(184, 184, 184)}

  h2 {
    font-size: 1.5rem;
    @media screen and (max-width: 360px) { 
    font-size: 1.0rem;
    }
  }
}

.flexbox-container-info2:hover {
  opacity: 1;
  transition: all 0.3s 0s ease; 
} 

.flexImg {
  position: relative;
  width: 50%;
  opacity: 1;

  img {
    width: 50%;
    height: auto;
    margin: 0 30%;
  }

  @media (max-width: 600px) {
  width: 100%;
    img {
      width: 50%;
      display: block;
      margin: 0 25%;
    }
  }
}

.flexImg .cover-img {
  position: absolute;
  top: 0;
  left: 0;

  margin-bottom: 0;
}

.flexImg .cover-img:hover {
  opacity: 0;
}

.flexImg2 {
  position: relative;
  width: 50%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80%;
    height: auto;
    margin: 0 10%;
  }

  @media (max-width: 600px) {
  width: 100%;
    img {
      width: 50%;
      display: block;
      margin: 0 25%;
    }
  }
}

.flexImg3 {
  position: relative;
  width: 50%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    height: auto;
    margin: 0 10%;

    border-radius: 50%;
  }

  @media (max-width: 600px) {
  width: 100%;
    img {
      width: 50%;
      display: block;
      margin: 0 25%;
    }
  }
}

.flexInfo {
  width: 50%;
  margin: 0 20px;


  @media (min-width: 600px) {
    h2 {margin-top: 0;}
  }

  @media (max-width: 600px) {
    margin: auto;
    width: 65%;
  }

}

.flexInfo p {
  display: flex;
  align-items: baseline; 
}

.flex p span:first-child {
  text-align: left;
  margin-right: 10px;

  @media (max-width: 600px) {
    margin-right: 10px;
  }
}

.centerTitle {
  display: flex;
  width: 50%;
  text-align: center;

  justify-content: center;
  align-items: center;

  h2 { width: 50%; }

  @media screen and (max-width: 600px) {
    width: 100%;
    h2 { width: 100%; }
  }
}

.wrap-flexbox {
  display: flex;
  flex-wrap: wrap;
}

.wrap-flexbox div {
  display: flex;
  width: 10%;
  margin: 5%;
  aspect-ratio: 1/1;
  border-radius: 50%;

  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: #232b2b;
}