#root { 
  height: 100%;
  width: 100%;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0B0C10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

nav {
  height: 88px;
  display: flex;
  list-style-type: none;
  background-color: #232b2b;
  padding: 0;

  @media (max-width: 600px) {
    height: 58px;
  }
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  color: white;
  display: block;
  padding: 32px 16px 32px;
  transition: all 0.5s 0s ease;

  @media screen and (max-width: 600px) {
    padding: 20px 10px 20px;
    font-size: 12px;
  }

  @media screen and (max-width: 360px) {
    font-size: 10px;
  }
}

nav ul img {
  height: 80px;
  width: auto;
  padding: 4px;
  transition: all 0.5s 0s ease;

  @media (max-width: 600px) {
    height: 50px;
  }
}

nav ul li:hover {
  list-style: none;
  color: white;
  display: block;
  background-color: rgb(174, 174, 174);
  padding: 30px 14px 30px;
  margin: 2px;

  @media (max-width: 600px) {
    padding: 18px 8px 18px;
  }
}

nav ul img:hover {
  list-style: none;
  display: block;
  background-color: rgb(174, 174, 174);

  margin: 2px;
  padding: 2px;
}

.Link {
  display: block;
  text-decoration: none;
  color: white;
}

#footer {
  width: 100%;
  background-color: #232b2b;
  ul {list-style-type: none;}
  padding: 16px 0 16px;

  z-index: 1;
  
  @media (max-width: 600px) {
    li {font-size: 12px;}
  }
}

#footer h3 {
  margin: 16px 16px 0;
}

p {
  font-size: calc(1 / 170 * 100vw + 8.5px);

  @media screen and (max-width: 600px) {
    font-size: 12px;
  }

  @media screen and (max-width: 360px) {
    font-size: 12px;
  }
}

h2 {
  font-size: calc(4 / 170 * 100vw + 9.9px);

  @media screen and (max-width: 360px) { 
    font-size: 18px
  }
}

@media (max-width: 600px) {
    p {font-size: 12px;}
    li {font-size: 12px;}
}

@media (max-width: 360px) {
  p {font-size: 10px;}
  li {font-size: 10px;}
}

a {
  font-size: calc(1 / 170 * 100vw + 8.5px);
  color: rgb(184, 184, 184);
  text-decoration: inherit;
}

a:hover {
  color: rgb(119, 119, 119);
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  text-align: center;
  font-size: 4.0em;

  margin: 64px auto 92px;

  @media (max-width: 600px) {
    font-size: 3.2em;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
